<h1>Welcome to シンガクセイショウ!</h1>
<p>
  ここは、学生のためのアプリケーションです。
  <% if user_signed_in? %>
    <p>ログインしています。ようこそ、<%= current_user.name %>さん！</p>
  <% else %>
    <p>ログインしていません。アカウントを作成して、すぐに利用を開始しましょう。</p>
  <% end %>
</p>